// main-header
$header-color-bg:           darken( rgb( 85, 115, 187 ), 20% );
$header-icon-color-fg:      darken( rgb( 85, 115, 187 ), 30% );
$main-color-border:         lighten( rgb( 85, 115, 187 ), 15% );
$main-item-color-border:    lighten( rgb( 85, 115, 187 ), 20% );
